<div class="page-header">
  <%= link_to new_beverage_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Beverage
  <% end %>
  <h1>Listing beverages</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Memo</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
      <%= render 'beverage' %>
    <tbody>
    </tbody>
  </table>
</div>
